.belle {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.banner 
{
  background-image: url("https://i.ibb.co/b57TGTwb/bowbanner.png");
  background-repeat: repeat-x;
}

.abril{
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}


