.belle {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

.banner 
{
  background-image: url("https://i.ibb.co/23Bw44Fy/bowbanner.png");
  background-repeat: repeat-x;
}
