.belle {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.banner 
{
  background-image: url("https://i.ibb.co/JW5Ddkkf/bowbanner.png");
  background-repeat: repeat-x;
}

.abril{
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
button {
  width: 150px;
  height: 60px;
  border: 3px solid #6481ed;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
}

button:hover {
  background: #bac9ff;
  color: white;
  font-size: 1.5em;
}



